<div class="jumbotron center">
	<h1>Welcome to the best app ever.</h1>
	<% if user_signed_in? %>
		# do something
	<% else %>
	<p>To be a muthufuckin' legend <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger btn-lg" %> or <%= link_to "Login", new_user_session_path, class: "btn btn-inverse btn-lg" %>.
		</p>
	<% end %>
</div>